<div class="tweets">
<div class="img">
<div class="pr"></div>
<div class="in">
<span class="name"><%= current_user.name %></span>
<span class="uname"><%= current_user.username %></span>
<span class="tweet">Tweets <%= current_user.tweets.count %></span>
</div>
</div>
</div>