<div class="newtweet">
<div class="tweets pro">
<div class="img">
<div class="sz"></div>
<span class="name">Jinendra</span>
</div>
</div>
<div class="tweets pro">
<div class="img">
<div class="sz"></div>
<span class="name">Vansh</span>
</div>
</div>
<div class="tweets pro">
<div class="img">
<div class="sz"></div>
<span class="name">Vedansh</span>
</div>
</div>
<div class="tweets pro">
<div class="img">
<div class="sz"></div>
<span class="name">Harry</span>
</div>
</div>
</div>