<div class="newtweet">
<div class="tweets trend">

<span class="name">*Trending1</span>
</div>
<div class="tweets trend">

<span class="name">*Trending1</span>
</div>
<div class="tweets trend">

<span class="name">*Trending1</span>
</div>
<div class="tweets trend">

<span class="name">*Trending1</span>
</div>
</div>