  <div class="newtweet sign">
<h1>Editing Tweet</h1>

<%= render 'form', tweet: @tweet %>

<%= link_to 'Show', @tweet ,class:'link post' %><br>
<%= link_to 'Back', tweets_path,class:'link post' %>
</div>